*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    }
  .bg{
    background-color: antiquewhite;
    border: 2px solid black;
    width:100%;
    height:100vh;
    padding:10px;
    background :linear-gradient(135deg,#153677,#4e085f);
    }
  .container{
    font-style:Italic;
    background-color:#d2d1ff;
    border:3px solid black;
    border-radius:12px;
    width:70%;
    height:65vh;
    position:relative;
    margin-left:9vh;
    margin-top:4vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }
  .container form{
    padding-left:7px;
    font-weight:6px;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    padding-top:13px;
    padding-bottom:13px;
    color:black ;
    }
  .main{
    margin-bottom:19px;
    color:#accba6;
    }
  
  .main h3{
    margin-bottom:+3px;
    color:black;
    font-family:Times New Roman", serif;
    }
  .button{
    float:right;
    margin:auto;
    background-color:red;
    color:white;
    padding:10px;
    border:none;
    border-radius:16px;
    text-align:center;
    font-size:11px;
    font-style:Italic;
    font-weight:bold;
    margin-top:14px;
    }
  .main h1{
    font-weight:bold;
    margin-bottom:-9px;
  }
  .main p{
    margin-top: +10px;
    font-weight: 12px;
    }
  #entry{
     padding-left:7px;
     font-weight:6px;
     color:black;
     }


  @media (min-width:540px) and (max-width:1280px){
     #entry{
        width:90%; }
     .container form{
        width:80%; }
     .button{
        position: none;
        margin-left:21vh;
        float:none; }
     }
  @media (width:540px){
     .button{
         margin-left:17vh;}  }
  @media (min-width:1024px) and (max-width:1280px){
     .button{
         margin-left:56vh;}  }
  @media (min-width:360px) and (max-width:414px){
     .container{
         margin-left:6vh;} }
  @media (width:280px){
     .container{
         margin-left:2vh;
         width:85%; }  }