@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:wght@300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* height: 100%; */
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #901111e5;
}
:where(.config-container, .quiz-container){
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.667);
   
}
.config-container{
    display: none;
    width: 415px;
    padding: 25px;
    text-align: center;
 
}
.config-container .config-title{
    font-size: 1.3rem;
}
.config-container .config-option{
    margin-top: 25px;
}

.config-option .option-title{
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.config-option button{
    padding: 12px;
    font-size: 0.938rem;
    font-weight: 500;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid #791e1ee9;
    transition: 0.3s ease;

}
.config-option .category-options{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}
.config-option .Questions-options{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 30px;
    justify-content: center;
}
.config-option button:hover,
.quiz-content .answer-option:hover{
    background: #ae3c3cbc;
    color: #ffffff;
    /* transform: scale(1.2);
    transition: 0.2 ease-in; */

}

.Questions-options button{
    flex: 1 1 10%;

}
.config-option button.active{
    color: white;
    border-color: #791e1ee9;
    background: #ae3c3cbc;
}

.config-container .start-quiz-btn,
.quiz-footer .next-question-btn{
    color: #fff;
    border: none;
    cursor: pointer;
    /* margin-top: 30px; */
    background: #771212;
    padding: 13px 25px;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 6px;
    transition: background 0.2s ease;
}
.config-container .start-quiz-btn{
    margin-top: 30px;
}
.config-container .start-quiz-btn:hover,
.quiz-footer .next-question-btn:hover{
    background: #d11010;
}

.quiz-container{
    width: 480px;

}
.quiz-content .question-text{
    font-size: 1.5rem;
    font-weight: 600;
   
}
.quiz-container .quiz-header{
    display: flex;
    align-items: center;
    padding: 14px 25px;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.192);       
}

.quiz-header .quiz-title{
    font-size: 1.43rem;
    font-weight: 700;
}
.quiz-header .quiz-timer{
    display: flex;
    width: 70px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 7px 9px;
    border-radius: 6px;
    background: #1b1919e9;
    color: #fff;
}
.quiz-header .quiz-timer i{
    font-size: 1.4rem;
    font-weight: 300;
}
.quiz-container .quiz-content{
    padding: 20px 25px 25px;
}
.quiz-content .answer-options{
    display: flex;
    flex-direction: column;
    gap:15px;
    list-style: none;
    margin-top: 20px;
}

.quiz-content .answer-option{
    padding: 13px 16px;
    background: #87484821;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.152);
    transition: 0.3s ease;
}
.quiz-container .quiz-footer{
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.21);
}
