
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    background-color: antiquewhite;
    border: 2px solid black;
    width:100%;
    height:100vh;
    padding: 10px;
    background: linear-gradient(135deg,#153677,#4e085f);
}
.todo{
    background-color: bisque;
    width: 100%;
    max-width: 740px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
}
.todo h2{
    color:black ;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
todo h2 img{
    width: 3px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding:10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    background: rgb(215, 5, 5);
    border-radius:30px;
    padding:20px 50px ;
    background:#ff5945 ;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 24px;
}
ul li{
 list-style:none ;
 font-size: 17px;
 padding: 12px 8px 12px 50px;
 user-select: none;
 cursor: pointer;
 position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 12px;
    left:8px;
}
ul li.checked{
    text-decoration: line-through;
    color:#555;
}

ul li span{
 position: absolute;
 right: 0;
 width: 40px;
 height: 40px;
 font-size: 22px;
 color: #555;
 line-height: 40px;
 text-align: center;
 border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}

  #input-box{
  width:120px;  
  } 
 @media(max-width:375px){ 
  .row{
   margin:0px; 
  width:287px;  }
  .todo{
    padding-left:15px;  }
  .container{
    padding-left:20px;
    padding-right:20px;  }
   #input-box{
width:20px; }
}

@media(width:280px){ 
  .row{
    width:150px;
    height:58px; }
  #input-box{
    width:100px;
    padding-left:0px;
    padding-right:0px; }
  .todo{
    padding-left: 5px;
  }
  }


  @media (max-width:414px ) and (min-width:412px){
    .container{
      padding-left: 20px;
      padding-right: 20px;
    }
  }

 
