* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  color: aliceblue;
}
.wrapper {
  border-radius: 20px;
  position: relative;
  padding: 40px;
  width: 400px;
  height: 500px;
  align-items: center;
  border: 5px solid #0ef;
  box-shadow: 0 0 20px #0ef,inset 0 0 20px #0ef;
}
.wrapper:hover{
  box-shadow: -1px -1px 14px 14px #0ef, inset -1px -1px 14px 1px #0ef;
  border: none;
}
.form-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  flex-direction: column;
}
.form-wrapper.sign-in {
  z-index: 2;
}
.form-wrapper.sign-up {
  opacity: 0;
  transform: scale(0);
  z-index: 1;
}
.wrapper.active .form-wrapper.sign-in {
  opacity: 0;
  transform: scale(0) translate(-300px, 500px);
  z-index: 1;
}

.wrapper.active .form-wrapper.sign-up {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}
.input-group {
  position: relative;
  margin: 30px 0px;
  border-bottom: 2px solid white;
  width: 70%;
}
.input-group label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.5s;
}
.input-group input {
  width: 100%;
  height: 40px;
  padding: 0 5px;
  background: transparent;
  border: none;
  outline: none;
  color: aliceblue;
}
.input-group input:focus~label,
.input-group input:valid~label {
  top: -5px;
}